# ignore ONLY the raw data folder
backend_api/ml_pipeline/src/pain_discomfort/data/raw/
ml_pipeline/src/pain_discomfort/data/raw/Audio/Baby Cry Dataset/belly pain/362c.wav
/ml_pipeline/src/pain_discomfort/data/raw
